.left-view {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  align-items: center;
}

.left-view-upload-section {
  width: 200px;
  cursor: pointer;
}

.left-view-upload {
  display: none;
}

.left-view-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
}

.left-view-footer-clear {
  cursor: pointer;
  background-color: #8d0801;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  color: white;
  font-size: 14px;
  width: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.left-view-footer-predict {
  cursor: pointer;
  background-color: #386641;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  color: white;
  font-size: 14px;
  width: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
